.custom-header {
  background-color: #e3e4e8; /* Color claro apagado (puedes probar #e3e4e8, #f1f2f3, etc.f8f9fa) */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08); /* Suave y elegante */
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(6px);
}
  
  .header-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .logo {
    height: 40px;
  }
  
  .header-center a {
    margin: 0 1rem;
    text-decoration: none;
    color: #111827;
    font-weight: 500;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .perfil-icono {
    font-size: 1.2rem;
    background-color: #88bcbc; /* Turquesa suave */
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .perfil-nombre {
    font-family: 'Open Sans', sans-serif;
    color: #111827;
    font-weight:600;
    font-size: small;
  }
   